* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.places {
    width: 100%;
    border: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.places > h1 {
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
}
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article > h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-right: 6rem;
}
.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 40px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: relative;
    top: -40px;
}
.price_by_night > p {
    margin: 0;
}

.information {
    height: 80px;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
/*    margin-top: 30px; */
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.max_guest,
.number_rooms,
.number_bathrooms
{
    width: 100px;
    text-align: center;
}
.guest_icon {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_group.png') no-repeat center;
}

.bed_icon {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_bed.png') no-repeat center;
}

.bath_icon {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_bath.png') no-repeat center;
}

.user > p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.description > p {
    margin-top: 7px;
    margin-bottom: 0px;
}

.amenities {
    margin: 40px 0 0 0;
    width: 100%;
    margin-left: -28px;
}

.amenities > h2 {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.amenities > ul {
    list-style-type: none;
    margin: 0;
}

.amenities > ul > li {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.tv_icon {
    height: 40px;
    width: 40px;
    background: url('../images/icon_tv.png') no-repeat center;
}

.wifi {
    height: 40px;
    width: 40px;
    background: url('../images/icon_wifi.png') no-repeat center;
}

.pet_icon {
    height: 40px;
    width: 40px;
    background: url('../images/icon_pets.png') no-repeat center;
}

.reviews {
    margin-top: 40px;
}

.reviews > h2{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.reviews ul {
    list-style-type: none;
    margin: 0;
}

.reviews > ul > li {
    margin: 0;
}

.reviews ul > li > h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.reviews ul > p {
    font-size: 12px;
} 
